html, body {margin: 0; padding: 0; font-size: 16px; color:#222; box-sizing: border-box; 
    font-family: 'Nanum Gothic', sans-serif; height:100%;font-weight:300;}
h1,h2,h3,h4,h5,p,a,li,span{color: #4d4d4f;}
li{list-style: none;}
a{text-decoration: none;}
div, ul, li, ol, dl, dd, dt {margin: 0; padding: 0; box-sizing: border-box; list-style: none;}

.main_1{}
.main_2{}
.main_3{}


.w{width: 66.6666%;margin: 0 auto;}
.le{float: left;}
.ri{float: right;}
.cl{clear: both;}
.cl:after {clear: both; content:""; display:block;}
.rel{position: relative;}
.abs{position: absolute;}
.img {width:auto;}

header{width: 1920px;max-width: 1280px;margin: auto;}
header .w .pa{padding: 6% 0;}

.header1 {width: 30%;}
.header2 {width: 40%;text-align: center; margin-top: 1%;}
.find{width: 90%;height:32px; border: 1px solid #4d4d4f;}
.find button{width: 4.5vw;height: 30px; float: right;background: #fff;color: #4d4d4f; border: none;padding: 0.3vw;}
.find .fa{margin-left: 10%;}
.find button:hover{background:#0079c1;color: #fff;}
.header3 {width: 30%;}
.header3 ul{margin-top: 3.5%;}
.header3 ul li{float: left;padding: 0 1%;margin-bottom: 0.5%;font-size: 0.6vw;}
.header3 ul li a:hover{color: #0079c1;}

section{width: 100%;}
.nav{width: 100%;height:30px; border-top:1px solid #4d4d4f;border-bottom: 1px solid #4d4d4f; }
.nav .navi{height: 30px; width: 1920px;max-width: 1280px;margin: 0 auto;}
.nav .navi li{padding:0 1%;float: left;font-size: 16px;font-weight: 400;}
.nav .navi li:hover{color: #0079c1;}

.main {width:1920px; max-width:1280px; margin:2% auto 2% auto; overflow:hidden;}
.slides {height: 45vh;width:100%;}
.slide {width: 100%; height:100%; margin: 0; padding: 0; top:0; left:0;}

.bol{font-weight: bold;}
.main_txt{top: 50%;transform: translateY(-50%);left: 10%;}
.main_txt h2,.main_txt h4,.main_txt span{color: #fff;}
.main_txt h2{font-size: 5vh;margin: -4% 0;font-weight:50; }
.num{font-size: 5vh; }
.main_txt h4{font-size: 2.5vh;font-weight:500 ;margin-bottom: 0;color: #ffcccc;}
.main_txt button{width: 5vw;height: 5vh;background-color: #ffe6e6; color: #8b244d; border: 0;font-size: 2vh;margin: 3vh 0 0 1vh;cursor: pointer;}

.main_txt2{top: 50%;transform: translateY(-50%);left: 10%;}
.main_txt h2,.main_txt h4,.main_txt span,.main_txt2 h2,.main_txt2 h4,.main_txt2 span{color: #fff;}
.main_txt2 h2{font-size: 4.5vh;margin: -4% 0;font-weight:50; }

.main_txt2 h4{font-size: 2.5vh;font-weight:500 ;margin-bottom: 0;color: #fdfbde;}
.main_txt2 button{width: 5vw;height: 5vh;background-color: #deebfd; color: #0e0e11; border: 0;font-size: 2vh;margin: 3vh 0 0 1vh;cursor: pointer;}


.main img{cursor: pointer;}
.main1 h4{font-size: 1.2vh;text-align: center;margin: 1% 0;color: #383085;}
.main1 p{font-size: 1vh;text-align: center;margin-bottom:1.5%;margin-top: 0;}
.main1 img{width: 100%;}

.main2 img{width: 100%;}
.main2 h4{font-size: 0.8vw;text-align: center;margin: 3% 0;}
.main2 p{font-size: 1vh;text-align: center;margin-bottom:5%;margin-top: 0;}

.ma1,.ma2,.ma3,.ma4{width: 49.5%;}
.ma1 h4{color:#005e97; }
.ma2 h4{color:#ad6d29; }
.ma3 h4{color:#226168; }
.ma4 h4{color:#e87d24; }
.main1{width: 64%;}
.main2{width: 35%;}

/* .pic_3{max-width: 1280px; width: 80%;margin: auto;} */
.pic_3{width: 1920px; padding:0 15%;}

.pro{height: 35vh;}
.pro .pro_n{margin-top: 2vh;}
.pro .pro_n h4{width: 2vw;left: 2%;font-size: 2vh;}
.pro .pro_n h4:hover{border-top:2px solid #333; }
.pro_n_line{text-align: center;margin-top: 4vh;}
.pro_n_line div{display: inline-block;}
.pro_n1{width: 32%;}
.pro_n2{width: 33%;}
.pro_n3{width: 33%;}
.pro_b{margin-top: 2vh;}
.pro_b h4{width: 2vw; left:  5vw;font-size: 2vh;}
.pro_b h4:hover{border-top:2px solid #333; }
.pro_b_line{text-align: center;display: none;margin-top: 4vh;}
.pro_b_line div{display: inline-block;}

.pic{margin:4vh 0;}
.pic h2{font-size: 2.5vh;margin:5% 0 2% 2%;}
.pic_img{width: 90%;margin: 0 auto;}
.pic_img li{display: inline-block;width: 24%;text-align: center;float: none !important;}
.pic_img_b{margin-top: 1vh;}

.login{background-color:rgb(32, 44, 54); width: 100%; height: 100%; display: table;position: relative;top: 0; left: 0; }
.login > div{display: table-cell; vertical-align: middle;text-align: center;}
.login h3{color: bisque;font-weight: 500;}
.login button{margin-top: 100px;}

.gest{width: 50%;text-align: center;margin: 0 auto;background-color: #0079c1;border-radius:50px; }
.gest a{font-size: 2.5vh;color: #fff;font-weight: bold;}
.gest a .fa{margin-right: 1vw;}

footer{background-color: #f1f1f2;margin-top: 4vh;}
footer .w{padding: 2.5vh 0;margin-top: 2vh;}
footer .w .f_logo{width:14%;}
footer .w .f_logo img{width:100%;}
footer .w p{font-size: 1.5vh;}


/* @media screen and (max-width:1280px){
    .find button{padding: 0;font-size: 1vh;}
    .nav{height: 3.5vh;}
    .main{width: 80%;}
    .main2 p{font-size: 1.3vh;}
    .slides {height: 58vh;}
    .pic_3{max-width: 1280px; width: 80%;margin: auto;}
    .pro_n1{width: 30%;}
    .pro{height: 37vh;}
    .find button{height: 2.45vh;}
}
@media screen and (max-width:980px){
    .header3 ul{margin: 0;}
    .header3 ul li{font-size: 1.2vw;}
}
@media screen and (max-width:768px){}
@media screen and (max-width:480px){} */